# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.pid
*.seed
*.bak
docker-compose.override.yml

# PyCharm
.idea/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Virtualenv
env/
venv/
ENV/
.venv/

# System files
Thumbs.db
ehthumbs.db
